.App {
  display: grid;
  place-items: center;
  background-color: #252f3f;
  height: 100vh;
}

.app-body {
  display: flex;
  background-color: #ededed;
  height: 95vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(228, 127, 241, 0.2);
  border-radius: 1%;
}
