.sidebar-chat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #3c3f41;
  background-color: #131c21;
  color: white;
}

.sidebar-chat:hover {
  background-color: #323739;
}

.sidebar-chat-info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebar-chat-info {
  margin-left: 15px;
}

.add-new-chat {
  display: flex;
  text-align: center;
  margin: auto 0;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}
